<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="container">
        <div>
            <h1>My name is Abdalkhalq Abualrob<br> 
                i'm a full-stack web developer<br> To contact me, click on the link below
            </h1>
        </div>
        <div>
            <h3>to send me an email,
                <a href="mailto:abdalkhalqabualrob@gmail.com">click here</a>
            </h3>
           <h3>Back to
            <a href="/home">Home</a>
           </h3>
        </div>
    </div>
</body>
</html>