<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate GPA.JO</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>حساب المعدل الفصلي و التراكمي
                <br> <%= universityName %>
            </h1>
        </div>
        <div>
            <h3>
                <a href="/home">Home</a>
                <a href="/about">About</a>
            </h3>
        </div>
        <div>
            <input type="text" name ="Grade" placeholder="العلامة" required>
            <select name="courseHours">
                <option value="">عدد الساعات</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
            <div>
            <input type="text" name ="Grade" placeholder="العلامة" required>
            <select name="courseHours">
                <option value="">عدد الساعات</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div>
            <input type="text" name ="Grade" placeholder="العلامة" required>
            <select name="courseHours">
                <option value="">عدد الساعات</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="addField"></div>
        <div>
            <input class="btn" type="button" value="إضافة مادة">
        </div>
        <div>
            <input type="text" name="semesterAVG" placeholder="المعدل الفصلي" readonly>
        </div>
        <div>
            <input type="text" name="cumulativeHours" placeholder="عدد الساعات التراكمية السابقة">
            <input type="text" name="cumulativeGPA" placeholder="المعدل التراكمي السابق">
            <input type="text" name="finalCumulativeGPA" placeholder="المعدل التراكمي النهائي" readonly>
        </div>
        <div>
            <input class="submit" type="button" value="حساب المعدل">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/calc.js"></script>
</body>
</html>